<div class="row">
  <div class="col-sm-12">
    <div class="tab-box">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="false">My Bets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="true">All Bets</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="table-responsive">
            <table class="table transparent-table" style="text-align:center; font-size: x-small;">
              <thead>
                <tr>
                  <th scope="col">Players</th>
                  <th scope="col">Horse Prediction</th>
                  <th scope="col">Winning Horse</th>
                  <th scope="col">Bet Amount</th>
                  <th scope="col">Win Amount</th>
                </tr>
              </thead>
              <tbody id="my-bets-body">
                <!-- <tr>
                  <td>TDjkY...fjbdY</td>
                  <td>Tronking</td>
                  <td style="color:#ff5959">Dapp</td>
                  <td>300</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>TDjkY...fjbdY</td>
                  <td>TronKing</td>
                  <td style="color:#01F593">Dapp</td>
                  <td>300</td>
                  <td style="color:#01F593">454</td>
                </tr>
                <tr>
                  <td>TDjkY...fjbdY</td>
                  <td>TronKing</td>
                  <td style="color:#01F593">Dapp</td>
                  <td>300</td>
                  <td style="color:#01F593">454</td>
                </tr>
                <tr>
                  <td>TDjkY...fjbdY</td>
                  <td>TronKing</td>
                  <td style="color: #01F593">Dapp</td>
                  <td>300</td>
                  <td style="color:#01F593">454</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="table-responsive">
            <table class="table transparent-table" style="text-align:center; font-size: x-small;">
              <thead>
                <tr>
                  <th scope="col">Players</th>
                  <th scope="col">Horse Prediction</th>
                  <th scope="col">Winning Horse</th>
                  <th scope="col">Bet Amount</th>
                  <th scope="col">Win Amount</th>
                </tr>
              </thead>
              <tbody id="all-bets-body">
                <!-- <tr>
                  <td>TDjkY...fjbdY</td>
                  <td>TronKing</td>
                  <td style="color:#ff5959">Dapp</td>
                  <td>300</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>TDjkY...fjbdY</td>
                  <td>TronKing</td>
                  <td style="color:#01F593">Dapp</td>
                  <td>300</td>
                  <td style="color:#01F593">454</td>
                </tr>
                <tr>
                  <td>TDjkY...fjbdY</td>
                  <td>TronKing</td>
                  <td style="color:#01F593">Dapp</td>
                  <td>300</td>
                  <td style="color:#01F593">454</td>
                </tr>
                <tr>
                  <td>TDjkY...fjbdY</td>
                  <td>TronKing</td>
                  <td style="color: #01F593">Dapp</td>
                  <td>300</td>
                  <td style="color:#01F593">454</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./../js/libs/moment.js"></script>
<script src="./../js/libs/mustache.js"></script>

<script id="my-bets" type="text/template">
  <tr class="my-bets-row">
  	<td>{{playerAddress}}</td>
    <td>{{horsePrediction}}</td>
    <td style={{color}}>{{winningHorse}}</td>
    <td>{{betAmount}}</td>
    <td>{{winAmount}}</td>
  </tr>
</script>

<script id="all-bets" type="text/template">
  <tr class="all-bets-row">
  	<td>{{playerAddress}}</td>
    <td>{{horsePrediction}}</td>
    <td style={{color}}>{{winningHorse}}</td>
    <td>{{betAmount}}</td>
    <td>{{winAmount}}</td>
  </tr>
</script>