<!-- index pop up -->

<div class="modal fade home-pop-up" id="login-popup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content modal-dividends">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p style="margin: 15px;">
          <%= __('Please login to your ETHEREUMLink wallet & make sure you have selected Main Networt in your wallet.' )%>
          <br><br> <%= __('If you do not have ETHEREUMLink wallet installed please visit')%> <a
            href="https://chrome.google.com/webstore/detail/ETHEREUMlink%EF%BC%88%E6%B3%A2%E5%AE%9D%E9%92%B1%E5%8C%85%EF%BC%89/ibnejdfjmmkpcnlpebklmnkoeoihofec"
            target="_blank">Chrome Web Store</a> <%= __('and download the chrome extension')%> .<br>
          <%= __('(CryptoHorseRacing.com is only available using Chrome browser for the time being)')%>
        </p>
      </div>
    </div>
  </div>
</div>