<div class="top-header no-transition">
  <header>
    <div class="row align-items-center">
      <div class="col-md-3 col-lg-2">
        <a href="./" class="logo"><img src="images/logotest.png" alt="logo-image"></a>
        <!-- <div class="mobile-menu"></div> -->
      </div>
      <div class="col-md-9 col-lg-8 offset-lg-1 l1 text-center">
        <div class="dropdown dropdown-languages float-left">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
              id="currLang">English</span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item languageDropDown" href="#" id="languageChange" name="en">English</a>
            <a class="dropdown-item languageDropDown" href="#" id="languageChange" name="ru">Pусский</a>
            <a class="dropdown-item languageDropDown" href="#" id="languageChange" name="de">Deutsch</a>
            <a class="dropdown-item languageDropDown" href="#" id="languageChange" name="zh-CN">简体中文</a>
            <a class="dropdown-item languageDropDown" href="#" id="languageChange" name="fr">Français</a>
            <a class="dropdown-item languageDropDown" href="#" id="languageChange" name="kr">한국어</a>
            <a class="dropdown-item languageDropDown" href="#" id="languageChange" name="es">Español</a>
            <a class="dropdown-item languageDropDown" href="#" id="languageChange" name="po">Português</a>
          </div>
        </div>
        <div class="race-heading"><%= __('Total Won:')%> <span id="wonAmount">0</span> Tron</div>
        <div class="float-right">
          <span id="userAddress" style="color:lightgrey"></span>
          <a href="#" class="btn btn-login" id="isLoggedIn">Login</a>
          <div class="dropdown dropdown-Tronlink">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
              <span id="currWallet"><img src="images/Tronlink.png"> TronLink</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item walletDropDown" href="#" name="Tronlink"><img src="images/Tronlink.png"
                  style="width: 30px; height: 30px;">TronLink</a>
              <a class="dropdown-item walletDropDown" href="#" name="guild-wallet"><img
                  src="images/guild-wallet.png">Guild Wallet</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

</div>